<div id="gallery" class="container">
  <div class="text-center">
    <h1 class="font-dancing-script text-primary">Galería</h1>
    <h1 class="">Explore Nuestra Galería</h1>
  </div>

  @if (images().length === 0) {
    <div id="gallery-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }

  @if (images().length > 0) {
    <!-- Filter start -->
    <div class="accordion mb-2">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFilter"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Filtros
          </button>
        </h2>
        <div
          id="collapseFilter"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="row mb-2">
              <div class="col">
                <span class="form-label fw-bold">Género</span><br />
                <mat-chip class="filter-gender" [class.text-bg-primary]="isFilterBoth()" (click)="filterImagesByGender('Ambos')">Ambos</mat-chip>
                <mat-chip class="filter-gender" [class.text-bg-primary]="isFilterFemale()" (click)="filterImagesByGender('Mujer')">Mujer</mat-chip>
                <mat-chip class="filter-gender" [class.text-bg-primary]="isFilterMale()" (click)="filterImagesByGender('Hombre')">Hombre</mat-chip>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <!--Hair type checkboxes such as "peinado"-->
                <span class="form-label fw-bold">Peinados</span><br />

                @for (hairstyle of imageFilters().hairstyles; track hairstyle.id) {
                  <mat-chip (click)="filterImagesByHairstyle($event)">
                    {{ hairstyle.style | titlecase }}
                  </mat-chip>
                }
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <!--Hair color checkboxes such as "azul"-->
                <span class="form-label fw-bold">Colores</span><br />

                @for (hairColor of imageFilters().hairColors; track hairColor.id) {
                  <mat-chip (click)="filterImagesByHairColor($event)">
                    {{ hairColor.color | titlecase }}
                  </mat-chip>
                }
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button (click)="fetchFilteredImages()" matButton="filled">Aplicar filtros</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Filter end -->
  }

  <div id="grid">
    <!-- .grid-sizer empty element, only used for grid's column width: https://masonry.desandro.com/options#element-sizing:~:text=Layout-,Element%20sizing,-Sizing%20options%20columnWidth -->
    <div class="grid-sizer col-sm-6 col-lg-3"></div>

    <!-- The width of each grid-item should match the width of the grid's column -->
    @for (image of images(); track image.id) {
      <div class="grid-item col-sm-6 col-lg-3">
        <mat-card class="example-card" appearance="outlined">
          <a [href]="image.url" data-lightbox="gallery" [attr.data-caption]="image.description">
            <img mat-card-image class="w-100" [src]="image.url" [alt]="image.description" />
          </a>

          @if (image.description) {
            <mat-card-content>
              <p>{{ image.description }}</p>
            </mat-card-content>
          }

          @if (image.hairstyles.length > 0) {
            <mat-chip-set aria-label="Filtros">
              <span class="ms-3" style="display: inline-flex; align-items: center">Peinados:</span>
              @for (hairstyle of image.hairstyles; track $index) {
                <mat-chip>
                  {{ hairstyle.style }}
                </mat-chip>
              }
            </mat-chip-set>
          }

          @if (image.hairColors.length > 0) {
            <mat-chip-set aria-label="Filtros">
              <span class="ms-3" style="display: inline-flex; align-items: center">Colores:</span>

              @for (hairColor of image.hairColors; track $index) {
                <mat-chip>
                  {{ hairColor.color }}
                </mat-chip>
              }
            </mat-chip-set>
          }
        </mat-card>
      </div>
    }
  </div>
</div>
