<!-- Team Start -->
<div class="container-fluid overflow-hidden py-5">
    <div class="container">
        <div class="text-center">
            <h1 class="font-dancing-script text-primary">Miembros del Equipo</h1>
            <h1 class="mb-5">Nuestros Especialistas con Experiencia</h1>
        </div>
        <div class="row g-4 team mb-4 justify-content-center">
            <div class="col-md-6">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid" ngSrc="/img/team/team-owner.jpg" alt="" width="1364" height="908">
                    <div class="team-overlay">
                        <p class="text-secondary fw-bold my-1">Propietaria y Especialista</p>
                        <h5>Serena Arellano</h5>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.facebook.com/serena.arellano.96" target="_blank" class="btn btn-dark btn-sm-square border-2 me-3">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                                <a href="https://www.instagram.com/serena_arellanoo/" target="_blank" class="btn btn-dark btn-sm-square border-2 me-3">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-3">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="~/img/team-2.jpg" alt="">
                    <div class="team-overlay">
                        <p class="text-primary mb-1">Nail Designer</p>
                        <h4>Olivia Smith</h4>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-dark btn-sm-square border-2 me-3" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-dark btn-sm-square border-2 me-3" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-dark btn-sm-square border-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="~/img/team-3.jpg" alt="">
                    <div class="team-overlay">
                        <p class="text-primary mb-1">Beauty Specialist</p>
                        <h4>Ava Brown</h4>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-dark btn-sm-square border-2 me-3" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-dark btn-sm-square border-2 me-3" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-dark btn-sm-square border-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="team-item position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="~/img/team-4.jpg" alt="">
                    <div class="team-overlay">
                        <p class="text-primary mb-1">Spa Specialist</p>
                        <h4>Amelia Jones</h4>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-dark btn-sm-square border-2 me-3" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-dark btn-sm-square border-2 me-3" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-dark btn-sm-square border-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Team End -->