<!-- Footer Start -->
<div class="container-fluid footer position-relative bg-dark text-white-50 py-5">
    <div class="container py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 pe-lg-5">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <h1 class="display-5 text-primary mb-0" translate="no">
                        <i class="bi bi-scissors"></i>Salon Lluvia
                    </h1>
                </a>
                <p>
                    Con más de 15 años en nuestra ubicación actual, el salón es liderado por una profesional con varios años de experiencia previa en otros salones, garantizando calidad y confianza en cada servicio.
                </p>
                <address>
                    <a href="https://maps.app.goo.gl/ZtmP99qXrDtSUmFq6" target="_blank" class="btn btn-link mb-2 d-block">
                        <i class="fa fa-map-marker-alt me-2"></i>1419 Salisbury Rd, Statesville, NC 28625
                    </a>
                    <a href="tel:+1(704)500-3937" class="btn btn-link mb-2 d-block">
                        <i class="fa fa-phone-alt me-2"></i>(704) 500-3937
                    </a>
                    <a href="mailto:salonlluvia1417@gmail.com" class="btn btn-link d-block">
                        <i class="fa fa-envelope me-2"></i>salonlluvia1417@gmail.com
                    </a>
                </address>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-sm-square btn-primary me-3" href="https://www.facebook.com/SalonLluvia" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-sm-square btn-primary me-3" href="https://www.instagram.com/serena_arellanoo/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <h5 class="text-primary mb-4">Enlaces Rápidos</h5>
                        <a class="btn btn-link" asp-controller="Home" asp-action="Gallery">Galería</a>
                        <a class="btn btn-link" asp-controller="Home" asp-action="Service">Servicios</a>
                        <a class="btn btn-link" asp-controller="Home" asp-action="About">Sobre Nosotros</a>
                        <a class="btn btn-link" asp-controller="Home" asp-action="Appointment">Reserve su cita</a>
                        <a class="btn btn-link" asp-controller="Home" asp-action="Privacy">Política de Privacidad</a>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-primary mb-4">Enlaces Populares</h5>
                        <a class="btn btn-link" asp-controller="Home" asp-action="Appointment">Reserve su cita</a>
                        <a class="btn btn-link" asp-controller="Home" asp-action="Gallery">Galería</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid bg-dark text-white border-top border-secondary py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">Salon Lluvia</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>.
                Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->