<section id="contact-2251">
  <div class="cs-container">
    <!--Copy and paste any iframe from Google Maps-->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d352.0769115647991!2d-80.8557955672369!3d35.77002177316065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885159b3197aaaab%3A0x695fd39779fadae3!2sSalon%20Lluvia!5e1!3m2!1sen!2sus!4v1767140107113!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="cs-wrapper">
      <div class="cs-content">
        <h1 class="font-dancing-script text-primary mb-0">Contáctanos</h1>
        <h1 class="cs-title text-capitalize mb-4">Reserve su cita</h1>
      </div>
      <form [formGroup]="appointmentForm" (ngSubmit)="submitAppointment()">
        <div class="row mb-2">
          <div class="col-md-6 mb-2 mb-md-0">
            <mat-form-field class="w-100">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" matInput placeholder="Placeholder" autocomplete="name" required />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Teléfono</mat-label>
              <input formControlName="phoneNumber" matInput autocomplete="tel" required />
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Include area code</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6 mb-2 mb-md-0">
            <mat-form-field class="w-100">
              <mat-label>Correo</mat-label>
              <input formControlName="email" matInput placeholder="Placeholder" autocomplete="email" required />
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint>xxxx@yyy.zzz</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>
                @if (isDatepickerLoading()) {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                }
                <span> Fecha</span>
              </mat-label>
              
              <input [matDatepickerFilter]="availableDaysFilter" matInput [matDatepicker]="picker" formControlName="date" required />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <span class="text-danger"></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Servicio</mat-label>
              <textarea formControlName="desiredService" matInput></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <button
              id="appointment-submit-btn"
              class="btn btn-primary text-uppercase w-100 py-3 ms-0"
              type="submit"
              [disabled]="(!appointmentForm.valid || isDatepickerLoading() || isFormSubmitting())"
            >

              <span>
                @if (isFormSubmitting()) {
                 <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                }
                Reservar
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
